body{
  background-color: darkgreen;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1.5fr 1fr;
  height: 100vh;
  margin: 2em;
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.rpgdice {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  padding: 2em;
}

.flexbox-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  grid-column: 1/4;
}

.group1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.group2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.group3{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.parchment {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
.roll {
  grid-column: 1 /2;
  grid-row: 3 / 4;

}

label {
  color: white;
}

h1.title {
    position: relative;
   text-align: center;
   color: white;
}

.dice {
  padding: 2rem;
  text-align: center;
}

.die {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.parchment {

  text-align: center;
  padding: 2rem;

}

.number {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yourRoll{
  transform: translate(5%, -250%);
  font-size: 3.5rem;
}





#rollbutton {
  font-size: 2rem;
  padding-right:2rem;
  padding-left: 2rem;
  border-style: solid;
  border-width: 3px;
  border-color:black;
  border-radius: 1rem;
  background-color: red;
  color: white;
  alignment: center;

}
